@use "reset";

//色の登録
.color-1{
background-color: #006400;
}
.color-2{
background-color: #000;
}
.color-3{
background-color: #c3262f;
}
.color-4{
background-color: #47573f;
}
.color-5{
background-color: #fff;
}
.color-6{
background-color: #3c6ed7;
}
.color-7{
background-color:#fbff7f ;
}
.color-8{
background-color:#795880 ;
}
    



h1{
text-align: center;
margin: 30px 0 50px;
}
.banner-wrapper{
max-width: 1000px;
margin: 0 auto 50px;
display: flex;
flex-wrap: wrap;
gap: 40px;
.banner-box{
width: calc((100% - 40px) /2);
margin-bottom: 60px;
.pc{
width: 336px;
height: 280px;
}
.sp{
width: 320px;
height: 280px;
}
.banner-info{
display: flex;
flex-wrap: wrap;
margin: 20px 0;
dt{
width: 40%;
padding: 10px;
margin-bottom: 10px;
font-weight: bold;
}
dd{
width: 60%;
padding: 10px;
margin-bottom: 10px;
font-size: 14px;
span{
width: 15px;
height: 15px;
display: inline-block;
margin: 0 10px 0 20px;
&:first-of-type{
margin-left: 0;
}
}
span.color-5{
border: 1px solid #000;
}
}
}
}
}